<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/lib/bootstrap.min.css">
        <script src="../public/lib/angular.min.js"></script>
    </head>
    <body ng-app="">
        <div class="form-group text-center">
        <div class="col-sm-3">
            <h3>Add Task</h3>
            <input type="text" class="form-control text-center" placeholder="task" ng-model="task"><br>
            <input type="text" class="form-control text-center" placeholder="description" ng-model="description"><br>
            <p>
                Task-Name : {{task}},<br>
                Description : {{description}} 
            </p>
            </div>
            </div>
    </body>
</html> 
